body{
       font-family:"Trebuchet MS";
       column-count: 2;
       position:absolute;
}
div.sakordy{
     line-height: 2.1em;
}

.ref{
    line-height: 2.1em; /* jen pro zatim*/
    border-left: 2px dotted;
    padding-left: 1em;
}
.comment{
    border-left: 2px dotted;
    border-right: 2px dotted;
    padding-left: 1em;
    padding-right: 1em;
}
span.chord{
    position:absolute;
}

strong.chord{
    position:relative;
    top:-1em;
}
h2{
    text-decoration: underline;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
